@import '~antd/lib/style/themes/compact.less';
@import '~antd/dist/antd.less';

@ant-prefix: 'mll-ant';

// The default is barely visible, darken it enough to be readable
@disabled-color: fade(#000, 85%);

// See node_modules/antd/lib/style/themes/compact.less for size variables

// Table
@table-padding-vertical: 6px;
@table-padding-horizontal: 4px;
@table-padding-vertical-md: 4px;
@table-padding-horizontal-md: 4px;
@table-padding-vertical-sm: 2px;
@table-padding-horizontal-sm: 2px;
